@model test.ViewModels.UserDto
<head>
    <script src="https://unpkg.com/persian-date@latest/dist/persian-date.js"></script>
    <script src="https://unpkg.com/persian-datepicker@latest/dist/js/persian-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@latest/dist/css/persian-datepicker.min.css" />
</head>
<body dir="rtl">
    <div class="container">
        <div class="">
            <form asp-action="Register" asp-controller="Authenticate">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="FirstName">نام : </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="FirstName" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="LastName"> نام خانوادگی : </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="LastName" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="JalaliBirthDate">تاریخ تولد : </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="JalaliBirthDate" readonly id="JalaliBirthDate" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="UserName">نام کاربری : </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="UserName" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="password">رمز عبور : </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="password" type="password"/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <label asp-for="ConfirmPassword">تکرار رمز عبور :  </label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="ConfirmPassword" type="password" />
                        </div>
                    </div>
                </div>
                <input type ="submit" value="ثبت">
            </form>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#JalaliBirthDate").pDatepicker();
    </script>
</body>